<div class="container">
	<h1><%= @project.name %></h1>
	<p><%= @project.description %></p>
	<p>Estimated Cost: <%= number_to_currency(@project.estimated_cost) %></p>
	<p>Estimated Lenght of Project: 
		<% if @project.estimated_time < 24 %>
			<%= @project.estimated_time %> hours
		<% else %>
			<%= @project.estimated_time/24 %> day(s)
		<% end %>
	</p>
	<p>Created <%= time_ago_in_words(@project.created_at) %> ago</p>
	<p>Priority: <%= @project.priority %></p>
</div>
<%= link_to projects_path, :class => "back-to-list" do %>
	<i class="material-icons md-48">arrow_back</i>
<% end %>
